.AuctionSuccessWrapper{
	color: #FFF;
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 80px;
}

.AuctionCarInfoWrapper{
	display: flex;
	flex-direction: column;
}

.AuctionCarImage{
	width: 500px;
	margin: auto;
}

.AuctionPriceWrapper{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.AuctionButtons{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: auto;
}

.AuctionPriceText{
	color: #919191;
}

.AuctionPrice{
	font-size: 1.8em;
}

.AuctionHeading{
	margin-bottom: 20px;
	color: #919191;
}

.AuctionText{
	width: 50%;
	margin: auto;
	color: #919191;
}