.AuctionWrapper {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.Auction {
	width: 50%;
}

.CarDetails {
	width: 50%;
}

.CarInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.AuctionButtons {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.CarName {
	color: #FFF;
	display: block;
	text-align: left;
}

.CarPrice {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.BidText {
	color: #545454;
}

.BidPriceETH {
	color: #646464;
}

.BidPriceDollars {
	color: #FFF;
}

.BidPriceWrapper{
	display: flex;
	flex-direction: column;
	gap: 25px;
}