.AuctionWrapper {
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin-top: 50px;
}

.Auction {
	width: 50%;
}

.CarDetails {
	width: 50%;
}

.CarInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.AuctionButtons {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.CarName {
	color: #FFF;
	display: block;
	text-align: left;
	font-size: 1.2em;
}

.CarPrice {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 30px;
}

.BidText {
	color: #545454;
}

.BidPriceETH {
	color: #646464;
	font-size: 1.5em;
}

.BidPriceDollars {
	color: #FFF;
	font-size: 1.5em;
}

.BidContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 20px;
}

.BidsWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Bids{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.BidNumber {
	color: #FFF;
	display: block;
	text-align: left;
	font-size: 1.2em;
	margin-top: 50px;
}

.BidPriceWrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.BidDetails {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.BidTime {
	color: #FFF;
}

.TimeIcon {
	width: 20px;
}

.BidTimeWrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.BidTimeContainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.BidTimeText {
	color: #595959;
}

.CarDetailsTextWrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.CarDetailsTextTitle {
	font-size: 1.1em;
	color: #FFF;
	margin-top: 70px;
	margin-bottom: 30px;
}

.CarDetailsText {
	color: #C1C1C1;
}

.BidPlacer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.BidPlaceInputs {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.AuctionInfoText {
	color: #FFF;
}