.InputFields {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.AttributesWrapper {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

.CarDescriptionContainer {
	width: 600px;
	height: 300px;
	border: 0.5px solid #878787;
	background: none;
	border-radius: 2px;
	padding: 10px;
}

.CarDetailFields {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.CarTextField {
	color: #FFF;
	font-size: 0.8em;
	text-align: left;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.CarDetailInputsWrapper{
	display: flex;
	flex-direction: column;
	gap: 50px;
}