.DropdownWrapper {
	display: flex;
	flex-direction: column;
	width: 360px;
	text-align: left;
	gap: 10px;
}

.Dropdown {
	background-color: transparent;
	border: 0.5px solid #878787;
	padding: 12px 5px;
	border-radius: 5px;
	color: #6D6969;
}

.DropdownTitle{
	color: #FFF;
	font-size: 0.8em;
}